* {
    margin: 0;
}
svg {
    margin: 0.5em;
}
.section>*{
    display: flex;
    flex-direction: row;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 6rem;
}
#name {
    font-family: 'Fjalla One', sans-serif;
    font-size:7rem;
}
body {
    color: white;
    line-height: 1;
}
p,a,#github-icon,#linkedin-icon{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin:0;
}
a:link {
    color: white;
}
a:visited {
    color:white;
}
.text{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top:3em;
}
h1 {
    margin: 0px;
}