extends layout

block content
  #stars
  #stars2 
  #stars3
  .nav-container
    .nav-bar
      a.active(href="#about") About
      a(href="#experience") Experience
      a(href="#work") Work 
      a(href="#skills") Skills
      a(href="#contact") Contact
  section.panel#about
    .panel-container
      #title ANDREW WILLIAMSON
      #subtitle Senior Full Stack Developer
      div
        b poop
        i.fa-brands.fa-square-github 

  section.panel#experience
    b EXPERIENCE
  section.panel#work
    b WORK
  section.panel#skills
    b SKILLS
  section.panel#contact
    b CONTACT
  script(src='/javascripts/scrollMagic.js')