extends layout

block content
  #stars
  #stars2 
  #stars3
  section.panel.blue
    #title ANDREW WILLIAMSON
  section.panel.turqoise
    b TWO
  section.panel.green
    b THREE
  section.panel.bordeaux
    b FOUR