extends layout

block content
  #stars
  #stars2 
  #stars3
  #nav-bar
    .nav-container
      button(class="active") About
      button Experience
      button Work 
      button Skills
      button Contact
  .main-content
    section.panel.blue
      div
        #title ANDREW WILLIAMSON
        #subtitle Senior Full Stack Developer
    section.panel.turqoise
      b TWO
    section.panel.green
      b THREE
    section.panel.bordeaux
      b FOUR