extends layout

block content
  #stars
  #stars2 
  #stars3
  .nav-container
    .nav-bar
      a.active(href="#about") About
      a(href="#experience") Experience
      a(href="#education") Education
      a(href="#skills") Skills
      a(href="#contact") Contact
  section#about
    .panel-container.flex-column
      h1#name ANDREW WILLIAMSON
      .subtitle-container
        h2.subtitle Full Stack Engineer
        h2.subtitle Creative Director
        h2.subtitle UI/UX Designer
        h2.subtitle Visual Designer
  section#experience
    .panel-container
      .title.col-3 Experience 
      .content.col-9
        .stack-container
          .stack-card.bittersweet#QAE
            div
              h3 QA Engineer
              span John J Jerue, Inc.
              br
              em October 2017 - January 2018
            ul
              li Performed, end-to-end, regression, and component tests on Angular-based web and mobile applications.
          .stack-card.grape#JFSE
            div
              h3 Junior Full-Stack Engineer
              span John J Jerue, Inc.
              br
              em January 2018 - December 2020
            ul
              li Updated existing systems to modern design standards, redesigning the UI and converting to Material Design
              li Provided Tier-2 support for users, fixing bugs and developing short-term deliverables and features
              li Created detailed financial reporting on the data present within the system, and created an intuitive UI to provide these reports
          .stack-card.violet#FSE
            div
              h3 Full-Stack Engineer
              span John J Jerue, Inc.
              br
              em January 2018 - December 2020
            ul 
              li Created elegant and intuitive UI/UX systems to improve workflow and ease of use
              li Completed the release of a total migration from AngularJS and .NET Framework to Angular and .NET Core
              li Created complex Web APIs using .NET Core and Entity Framework that interact with several integrations from third-party services and APIs
          .stack-card.aero#SFSE
            div
              h3 Senior Full-Stack Engineer
              span John J Jerue, Inc.
              br
              em December 2020 - Current
            ul
              li Planned, tracked, and managed deliverables on 200+ sprints and several long-term deployments
              li Led design and development of hundreds of new features and updates to a variety of systems, improving performance and user experience
              li Created and managed several CI/CD pipelines that allowed for rapid development, testing, and deployment to multiple environments
  section#education
    .panel-container.align-items-center
      .title.col-3 Education
      .content.col-9.flex-row.d-flex
        .school-image-container.col-6.d-flex.justify-content-center
          #poly-straight-blue.school-image
          #poly-straight-pink.school-image
          #poly-straight-dark-blue.school-image
        .degree-container.col-6.d-flex.justify-content-center.flex-column
          h4 Bachelor of Science ~ Computer Science 
          h6 Florida Polytechnic University ~ 2014 - 2018
  section#skills
    .panel-container
      .title.col-3 Skills
      .content.col-9
        .content-card.skills#Languages
          h3.skill-title Languages
          p Typescript
          p HTML
          p CSS / SASS / SCSS
          p C#
          p SQL
        .content-card.skills#Frameworks
          h3.skill-title Frameworks
          p Angular
          p .NET Core / Framework
          p Entity Framework
          p Telerik
          p ExpressJS
        .content-card.skills#Services
          h3.skill-title Services
          p Azure Devops / Github / TFS
          p NPM / Nuget
          p Swagger API
          p Node
          p Solr
  section#contact
    .panel-container.d-flex
      .title.col-3 Contact
      .content.col-9.justify-content-center.d-flex.flex-column
        .content-card.contact#Phone
          i.fas.fa-phone
          a(href="tel:+12399613068", target="_blank") +1 (239) 961-3068
        .content-card.contact#Github
          i.fab.fa-github 
          a(href="https://github.com/drew0530", target="_blank") Github 
        .content-card.contact#Linkedin
          i.fab.fa-linkedin-in
          a(href="https://www.linkedin.com/in/drewleewilliamson/", target="_blank") LinkedIn
        .content-card.contact#Email
          i.fas.fa-envelope 
          a(href="mailto:drew.will0709@gmail.com", target="_blank")  Email
        .content-card.contact#Resume
          i.fas.fa-file 
          a(href="https://docs.google.com/document/d/1sYlzgUZK6HtMN-6PjqhH4PnfeiDwRJJvIrKJiu5j7c4/edit?usp=sharing", target="_blank") Resume

  script(src='/javascripts/main.js')