#title
  color: #FFF
  text-align: center
  font-weight: 600
  font-size: 75px
  letter-spacing: 10px

  span
    background: -webkit-linear-gradient(white, #38495a)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

#subtitle
  color: #808080
  text-align: center
  font-family: 'poppins'
  font-weight: 400
  font-size: 30px
  letter-spacing: 4px

#about
    margin-top: -80px

.panel-container
  height: 100%
  width: 100%
  align-content: center