#about
  margin-top: -86px
  .subtitle-container
    position: relative
    overflow: hidden
    width: 354px
    height: 36px
    .subtitle
      position: relative
      width: 354px
      height: 36px