#education
    .school-image-container
        position: relative
        overflow: hidden
        height: 320px
        width: 500px
        margin: 0px 38px 0px 38px
        border-radius: 120px
        .school-image
            border-radius: 100px
            position: absolute
            background-size: contain
            height: 320px
            width: 500px
            background-repeat: no-repeat
        #poly-straight-blue
            background-image: url('../images/poly-straight-blue.jpg')
            z-index: 1
        #poly-straight-pink
            background-image: url('../images/poly-straight-pink.png')
            z-index: 2
        #poly-straight-dark-blue
            background-image: url('../images/poly-straight-dark-blue.png')
            z-index: 3