@mixin offset
  @for $i from 4 through 1
    &:nth-child(#{$i})
      left: #{($i - 1) * -20}px
      top: #{($i - 1) * 20}px

#experience
  .content
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    .stack-container
      position: relative
      align-items: center
      height: 350px
      width: 80%
      perspective: 100px // try playing with this
      .stack-card
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        height: 350px
        width: 100%
        border-radius: 30px
        padding: 60px 35px
        @include offset
      .job-title
        display: flex
        flex-basis: 50%
        flex-direction: column
      li
        display: flex
        flex-basis: 50%
        font-size: 1.15rem
