#skills
    .content
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .skill-container
            padding: 10px
            height: 350px
            width: 300px
            flex-direction: column
            .skill-title
                color: #808080
            .skill
                display: flex
                flex-direction: row
                align-items: center
                background: #223244
                border-radius: 10px
                padding: 12px
                margin-bottom: 4px
                .skill-icon
                    width: 40px
                    height: 40px
                    border-radius: 8px
                    padding: 10px
                .skill-text
                    margin-left: 8px
            &:nth-child(1)
                margin-top: -100px
            &:nth-child(3)
                margin-top: 100px
    // Frontend
    #typescript
        background-color: rgba(49, 120, 198, 0.25)
    #html
        background-color: rgba(239, 101, 42, 0.25)
    #sass
        background-color: rgba(207, 100, 154, 0.25)
    #csharp
        background-color: rgba(161, 121, 220, 0.25)
    #sql
        background-color: rgba(183, 28, 28, 0.25)

    // Backend
    #angular
        background-color: rgba(220, 8, 125, 0.25)
    #dotnetcore
        background-color: rgba(92, 45, 145, 0.25)
    #entityframework
        background-color: rgba(104, 33, 122, 0.25)
    #telerik
        background-color: rgba(92, 229, 0, 0.25)
    #expressjs
        background-color: rgba(255, 255, 255, 0.25)

    // Tools
    #github
        background-color: rgba(255, 255, 255, 0.25)
    #npm
        background-color: rgba(203, 56, 55, 0.25)
    #swagger
        background-color: rgba(133, 234, 45, 0.25)
    #node
        background-color: rgba(65, 135, 63, 0.25)
    #bootstrap
        background-color: rgba(126, 19, 248, 0.25)