$color-night: #090A0F
$color-gunmetal: #1B2735
$color-aero: #5DB7DE
$color-violet: #EA7AF4
$color-grape: #7F37A9
$color-bittersweet: #FE5F55
$color-jet: rgba(52, 53, 59, 1)
$color-davys-gray: rgba(92, 94, 105, 0.5)

$color-white: #FFF  