$color-night: #090A0F
$color-gunmetal: #1B2735
$color-aero: #ACADBC
$color-violet: #E09F3E
$color-grape: #9E2A2B
$color-steel-blue: #3581B8
$color-jet: rgba(52, 53, 59, 1)
$color-davys-gray: rgba(92, 94, 105, 0.5)

$color-white: #FFF  