@import 'normalize'
@import 'stars'
@import 'about'

*
  color: white
  font-family: 'poppins'

body
  height: 500vh // set @ 100vh for each section

a
  text-decoration: none

#name
  color: #FFF
  text-align: center
  font-weight: 600
  font-size: 75px
  letter-spacing: 10px
  margin: 0px

#subtitle
  color: #808080
  text-align: center
  font-weight: 400
  font-size: 30px
  letter-spacing: 4px
  margin: 0px
  
.panel
  height: 100vh
  top: 0px
  display: flex
  .panel-container
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    #title
      color: #FFF
      text-align: center
      font-weight: 600
      font-size: 75px
      letter-spacing: 10px
      flex: 30
      text-align: right
    div
      flex: 70

.nav-container
  position: sticky
  top: 30px
  width: 100%
  text-align: center
  z-index: 999

  .nav-bar
    display: inline-flex
    background: rgba(52, 53, 59, 0.5)
    border-radius: 40px

    a
      transition: all 0.3s ease-in-out
      cursor: pointer
      font-size: 20px
      font-weight: 300
      border: none
      background: transparent
      letter-spacing: .1rem
      border-radius: 40px
      padding: 15px 25px 15px 25px
      margin: 10px
      color: #808080
      &.active
        color: #FFF
        background: rgba(92, 94, 105, 0.5) !important

.fx-row
  flex-direction: row !important

.fx-column
  flex-direction: column !important